*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
div{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    padding: 10px;
    gap: 10px;
    font-weight: bolder;
}
#inp1, #inp3{
    background-color: rgb(164, 235, 248);
    color:red;
}
#inp2{
    background-color: greenyellow;
    color:red;
}
ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
button{
    padding: 2px 5px;
}
